@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

$primaryColor: #ea384d;
$secondayColor: #a9afc3;
$primaryGradient:linear-gradient(to right, #ea384d, #d31027);

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color:white;
    background-color:#121318;

}

nav {
    
}